# created by virtualenv automatically
# Игнорировать файлы, созданные IDE
.idea/
.vscode/

# Игнорировать файлы сборки и временные файлы
pycache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak

# Игнорировать файлы конфигурации
*.ini
*.cfg
*.conf

# Игнорировать файлы секретов и ключи
secrets.json
api_key.txt
*.env

# Игнорировать файлы локализации
*.mo
*.pot

# Игнорировать файлы и папки, которые не следует отслеживать Git
venv/
node_modules/
dist/
build/
*.egg-info/
.venv